:root {
  --primary-color: #7e4b97;
  --secondary-color: #efd1d7;
}
p {
  font-family: mako;
}

.menu {
  background: #eee7e1;
  height: 70px;
  position: fixed;
  top: 0px;
}
.logo {
  max-width: 80px;
  margin: 0px;
  padding: 0px;
}
.page-links {
  position: relative;
  top: -50px;
  text-align: right;
}
nav a {
  text-decoration: none;
  margin: 10px;
  color: var(--primary-color);
  transition: all 200ms ease-in-out;
}
nav a:hover {
  color: #e50fbb;
}
.brand-name {
  font-size: 46px;
  font-family: lobster;
  color: var(--primary-color);
  text-align: right;
  margin-right: 100px;
  margin-top: 100px;
}
.motto {
  font-size: 20px;
  font-family: oleo script;
  text-align: right;
  padding-right: 100px;
}

.myimages {
  justify-content: space-evenly;
  display: flex;
  margin: 0px;
  padding: 0;
  text-align: center;
}
.image {
  width: 300px;
  padding: 0;
  margin: 0;
}
.fash {
  width: 350px;
  padding: 0;
  margin: 0;
}

#fashImg{
  position: absolute;
}
.home-para {
  font-size: 25px;

  padding: 30px;
  text-align: center;
}
.shop-now-link {
  text-align: center;
  margin-bottom: 50px;
}
.shop-now {
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 11px;
  box-shadow: 2px 1px 2px gray;
  text-align: center;
  text-decoration: none;
}
.shop-now:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
  transition: all 200ms ease-in-out;
}
.icon {
  display: flex;
  justify-content: center;
  height: 50px;
  background: var(--secondary-color);
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-family: mako;
}
.insta {
  font-size: 20px;
  color: #e50fbb;
  padding: 5px;
  margin: 0 20px;
}
.email {
  font-size: 20px;
  padding: 5px;
  margin: 0 20px;
}

.dress {
  width: 150px;
  padding: 0;
  margin-left: 50px;
}
.blazar {
  margin-top: 50px;
  width: 130px;
  margin-left: 20px;
  padding: 0px;
}
.suit {
  width: 200px;
  margin-top: 100px;
  margin-right: 50px;
  padding-right: 20px;
}
.plain {
  width: 170px;
  padding: 0;
  margin-right: 50px;
}
.jeans {
  width: 150px;
  margin-left: 50px;
  padding: 0;
}
.accessories {
  width: 180px;
  margin-left: 50px;
  padding: 0;
}
.shoes {
  width: 200px;
  margin-right: 50px;
  padding-top: 50px;
}
.hair {
  width: 200px;
  margin-right: 50px;
  padding: 0;
}
.sneaker {
  width: 180px;

  margin-left: 50px;
}
.buywears {
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 11px;
  box-shadow: 2px 1px 2px gray;
  text-align: center;
  text-decoration: none;
}
.buywears:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
  transition: all 200ms ease-in-out;
}
.buyaccessories {
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 11px;
  box-shadow: 2px 1px 2px gray;
  text-align: center;
  text-decoration: none;
}
.buyaccessories:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  transition: all 200ms ease-in-out;
}
.productsimg img {
  width: 250px;
  margin: 20px;
  padding: 10px;
}
.productsimg a {
  color: var(--primary-color);
  font-size: 14px;
  text-align: center;
  text-decoration: none;
}
.logobackground {
  width: 350px;
  padding: 10px;
  background-color: #eee7e1;
  border-radius: 300px;
}
.resturantimg img {
  width: 350px;
  height: 330px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  margin-bottom: 0px;
}
.resturantimg h1 {
  text-align: center;
  font-size: 30px;
  font-family: lobster;
  font-weight: bold;
}
.resturantimg p {
  font-size: 16px !important;
  font-family: mako;
}
#contacticon {
  background-color: #eee7e1;
  text-align: center;
  height: 200px;
  padding: 20px;
  margin: 15px;
}
#contacticon a {
  text-decoration: none;
  color: black;
}
footer {
  font-size: 12px;
  font-family: mako;
  text-align: center;
}

@media (max-width: 900px) {
  .logo {
    max-width: 50px;
    margin: 0px;
    padding-top: 10px;
  }
  .page-links {
    padding-top: 10px;
    padding-left: 20px;
  }
  .links {
    font-size: 14px;
    margin: 3px;
  }

  .brand {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .brand-name {
    font-size: 36px;
    text-align: center;
    margin-right: 0;
  }
  .motto {
    font-size: 16px;
    text-align: center;
    padding: 0;
  }

  .home-para {
    font-size: 16px;
  }
  .shop-now {
    padding: 10px 20px;
    font-size: 14px;
  }

  .aboutpage img {
    margin: 0;
    padding: 0;
    width: 100px;
  }
  .productsimg img {
    width: 180px;
    margin: 0 auto;
    padding: 0;
    display: block;
    text-align: center;
  }
  .content {
    margin: 0;
    font-size: 14px;
  }
  .resturantimg {
    display: block;
    margin: 0 auto;
    padding: 0;
  }
  .resturantimg img {
    width: 300px;
    height: 280px;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .resturantimg h1 {
    text-align: center;
    font-size: 20px;
    font-family: lobster;
  }
  .resturantimg p {
    margin: 0;
    padding: 0;
  }
  .resturantimg div {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .bodycontent {
    text-align: center;
    padding: 0;
    margin: 0;
  }
  #contacticon {
    background-color: #eee7e1;
    text-align: center;
    height: 200px;
  }
  #contacticon p {
    font-size: 14px;
    padding: 0;
    margin: 5px;
  }
}
