:root {
  --primary-color: #7e4b97;
  --secondary-color: #efd1d7;
}

.menu {
  background: #eee7e1;
  height: 70px;
  position: fixed;
  top: 0px;
}
.logo {
  max-width: 80px;
  margin: 0px;
  padding: 0px;
}
.page-links {
  position: relative;
  top: -50px;
  text-align: right;
}
.links {
  text-decoration: none;
  margin: 10px;
  color: var(--primary-color);
}
.brand-name {
  font-size: 46px;
  font-family: lobster;
  color: var(--primary-color);
  text-align: right;
  margin-right: 100px;
  margin-top: 100px;
}
.motto {
  font-size: 20px;
  font-family: oleo script;
  text-align: right;
  padding-right: 100px;
}
.fashionimages {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  margin: 0;
  padding: 0;
}
.myimages {
  justify-content: space-evenly;
  display: flex;
  margin: 0px;
  margin-left: 20px;
  padding: 0;
}
.image {
  width: 300px;
  padding: 0;
  margin: 0;
}
.fash {
  width: 350px;
  padding: 0;
  margin: 0;
}
.home-para {
  font-size: 25px;
  font-family: mako;
  padding: 30px;
  text-align: center;
}
.shop-now-link {
  text-align: center;
  margin-bottom: 50px;
}
.shop-now {
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 11px;
  box-shadow: 2px 1px 2px gray;
  text-align: center;
  text-decoration: none;
}
.shop-now:hover {
  background: var(--secondary-color);
  color: var(var(--primary-color));
  transition: 50ms ease-in-out;
}
.icon {
  display: flex;
  justify-content: center;
  height: 50px;
  background: var(--secondary-color);
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-family: mako;
}
.insta {
  font-size: 20px;
  color: #e50fbb;
  padding: 5px;
}
.email {
  font-size: 20px;
  padding: 5px;
}
@media (max-width: 800px) {
  .logo {
    max-width: 60px;
    margin: 0px;
    padding-top: 10px;
  }
  .brand {
    display: block;
    margin: 0 auto;
  }
  .brand-name {
    font-size: 36px;
  }
  .motto {
    font-size: 16px;
  }
  .home-para {
    font-size: 16px;
    font-family: mako;
    padding: 25px;
    text-align: center;
  }
  .shop-now {
    padding: 10px 20px;
    font-size: 14px;
  }
}
